/*default state*/
.menu-button {
    -fx-background-color: #F4EBD0;
    -fx-border-color: #C67F2F;
    -fx-border-width: 3.5px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;

    /* Sizing */
    -fx-pref-width: 140px;
    -fx-pref-height: 30px;

    

    /*box shadow*/
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 0, 0, 3, 2);
}

.menu-button .text {
    -fx-fill: #ab691e;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12px;
}
/*hover state*/
.menu-button:hover {
    -fx-background-color: #FFF5DC;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}
